body {
	background-color:white;
	font-family:verdana; 
	font-size:13px;
	color:black;
}

th {
	text-align:left;
	font-family:verdana; 
	font-size:12px;	
	color:white;	
	font-weight:bold;
	background-color:#596C84;
}


.thlink {
	text-align:left;
	font-family:verdana; 
	font-size:12px;	
	color:white;	
	font-weight:normal;	
	background-color:#596C84;
}

pre {
	background-color: #eeeee0;
}


td {
	font-family:verdana; 
	background-color:white;
	font-size:12px;	
	color:black;
	font-weight:normal;
}

.tdalt {
	font-family:verdana; 
	background-color:#dedede;
	font-size:12px;
	color:black;
	font-weight:normal;
}

.tdalt1 {
	font-family:verdana; 
	background-color:white;
	font-size:12px;	
	color:black;
	font-weight:normal;
}

.tdalt2 {
	font-family:verdana; 
	background-color:#dedede;
	font-size:12px;
	color:black;
	font-weight:normal;
}


tr.alt1 td {
	font-family:verdana; 
	background-color:white;
	font-size:12px;	
	color:black;
	font-weight:normal;
}
tr.alt2 td {
   	font-family:verdana; 
	background-color:#dedede;
	font-size:12px;
	color:black;
	font-weight:normal;
}


form {
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;	
	border:0px 0px 0px 0px;	
}

.btn {
	font-family:verdana; 
	font-size:12px;
	border: 1px;
}



